
 
body{ 
    background:rgb(230, 219, 219);
    text-align: center;
    
    
}

#titolo{
    color:rgb(0, 0, 0);
    font-family: impact;
    text-align: center;
    letter-spacing: 4px;
  

}

#prima {
    color:rgb(78, 80, 90);
    text-align: center;
    font-family: sans-serif;
}

#seconda{
    color:rgb(78,80, 90);
    text-align: left;
    font-family: sans-serif;
}

#aggiungi img{
    width: 30px;
    height: 30px

}


#aggiungi {
    bottom: 100px;
    align-items: center;
    cursor:wait;
    background-color: rgba(252, 91, 91, 0.884);
   


}

#togli img{
    width: 30px;
    height: 30px;

}

#togli {
    background-color: rgb(129, 181, 248);
    
    cursor: wait;
    
}
span {
  font-size: 4rem;
  font-family: Comic Sans MS;
  padding: 2px 12px;
  margin-left: 16px;
  margin-right: 16px;
  color: (0,0, 0);
}



