img {
    width: 500px;
   
    
}
 
body{ 
    background:rgb(230, 219, 219);
    text-align: center;
    
    
}

#titolo{
    color:rgb(0, 0, 0);
    font-family: impact;
    text-align: center;
    letter-spacing: 2px;

}

#prima {
    color:rgb(78, 80, 90);
    text-align: left;
    font-family: sans-serif;
}

#seconda{
    color:rgb(78,80, 90);
    text-align: left;
    font-family: sans-serif;
}
